[2014-05-23 21:49] Glavin001 opened #1 "MVP - Initial Working Version / Foundation"
Examine how https://github.com/Glavin001/ember-nvd3 accomplishes it and how C3 is structured.

Discuss!

[2014-05-26 18:42] #1 closed, assigned to nobody

[2014-06-20 02:15] MaazAli opened #2 "Installing it manually (without bower)"
I'm assuming if you want to install this manually you simply download the lib.js file located under the /lib/ folder? And then just include it with c3.js/c3.css files?

[2014-06-20 16:45] #2 closed, assigned to nobody

[2014-06-24 08:20] zeemy23 opened #3 "Time Series NaN errors"
Hello!  I've been unable to get the c3 time series example working.  The chart loads, but there are no data points or x-axis values, and many NaN errors in the console. Is my syntax wrong?

this in the .hbs

[code]

and this in the route

[code]

Thanks!

[2014-06-25 03:01] #3 closed, assigned to nobody

[2014-06-26 10:28] agagancarczyk opened #4 "Building with grunt"
Hi Galvin,

After building the app with grunt, the blank server instance opens on localhost:9002 in my browser. Any idea on how to get it displaying the graph on localhost:9002. Many thanks

P.S. I'm new to Yeoman-Bower-Grunt but very enthusiastic about it and eager to learn with a bit of help. Any suggestions on a very good tutorial?

[2014-06-27 20:54] #4 closed, assigned to nobody

[2014-07-12 00:15] bkCDL opened #6 "How to transform chart type"
First of all, this is a superb project. It is exactly what I've been looking for in my reporting app.

I'm wondering how I can transform a pie graph into a bar graph. I see that with C3, one calls `chart.transform('bar')`. Is there a way right now to do this in Ember-C3? I looked at the code but didn't see anything obvious.

I tried this in my Ember template, but it ends up showing two charts on t

[2014-08-09 00:10] MaazAli opened #8 "Ember-CLI support?"
Whenever you get back to working on this, i'd love to see ember-cli support for this.

[2014-08-09 16:59] #8 closed, assigned to nobody

[2014-08-21 17:22] Frozenfire92 opened #9 "Empty data causes other component blocking errors"
If you have an empty data object passed you will get the following error

[code]

This error will block any other components from rendering properly

[2014-08-24 08:42] fceruti opened #10 "Groups not updating if changed."
If you change groups, nothing happen.

[2015-01-20 16:04] Glavin001 opened #14 "Ember CLI Addon support"

[2015-01-24 17:52] Robdel12 commented on #14
Interesting. I'm using this on my blog in Ember CLI.

Do you want to convert this into an ember cli plugin?

[2015-01-24 18:01] Glavin001 commented on #14
I'm not very familiar with the Ember CLI structure. If you'd like to submit a pull request that would be great!

[2015-01-24 20:21] Robdel12 commented on #14
Awesome! Working on it :)

I have a question though. How did you go about creating a component without a view template?

[2015-01-24 21:41] Glavin001 commented on #14
I used the `tagName` ( https://github.com/Glavin001/ember-c3/blob/master/lib/components/chart.js#L9 ) and then the `bindTo` option ( https://github.com/Glavin001/ember-c3/blob/master/lib/components/chart.js#L135 ). So the Ember Component would automatically create an element with tag `tagName` and it could be accessed with `this.get('element')` and then I passed that `element` via `bindTo` to C3 a

[2015-01-24 23:33] Robdel12 commented on #14
Gotcha. I have everything working now, most of my time has been spent messing around trying to get the example page to work.

[2015-01-27 15:11] bkCDL commented on #9
I experienced this too, but found a workaround by couching the chart inside a handlebars IF clause:

    {{#if contentChart}}
            {{c3-chart
                data=contentChart
                axis=chartAxis
                bar=chartBarFormat
                pie=chartPieFormat
                donut=chartDonutFormat
                legend=chartLegendSettings
                tooltip=chartToolt

[2015-03-03 01:01] shunchu commented on #3
:+1: for the solution!

[2015-03-10 22:38] Glavin001 opened #17 "Unit Testing"

[2015-03-26 13:04] egeriis opened #18 "Browser support"
What's the official browser support for this library?

[2015-03-26 13:05] egeriis opened #19 "Model with relationships"
In the example application, a simple JSON object is used as the model: https://github.com/Glavin001/ember-c3/blob/master/app/scripts/routes/index_route.js

But is it possible to use a real Ember model? And can this model then supply columns through a relationship?

[2015-05-22 19:21] JKGisMe commented on #9
Does that mean whatever you put as `data=` has to have a key titled 'columns', 'rows', 'json' or 'url'? I tried feeding it an array of numerical values and I'm getting this error.

[2015-06-18 22:32] JKGisMe commented on #6
Erm... but `type` is in `data`...
[code]
Then, I have an observer that does `this.set('data.hide', ['data2', 'data3'])`

I have been setting all that to `data` for the component. I've been trying to change which info I hide in the graph with a user select because I don't want to iterate through all my rows separating out the elements to feed them into the chart individually but it doesn't seem to

[2015-07-15 18:14] luketheobscure opened #24 "New release?"
Any chance we could get a new release now that the handlebars dependency has been removed? I'm using rails-assets to get this library, and it doesn't allow specifying a commit.

[2015-07-15 18:25] Glavin001 commented on #24
Published to v0.1.5: https://github.com/Glavin001/ember-c3/releases/tag/v0.1.5

[2015-07-15 18:25] #24 closed

[2015-07-17 22:15] bkCDL opened #25 "Version number typo"
For what it's worth, the version number in 0.1.5 in line number 4 of [build/lib.js](https://github.com/Glavin001/ember-c3/blob/master/build/lib.js) is 0.1.4 when it should be 0.1.5.

    Ember.C3.VERSION = '0.1.4';

Bryan

[2015-07-17 23:46] Glavin001 commented on #25
Thanks!

[2015-07-17 23:47] #25 closed

[2015-08-18 05:46] frankwong15 opened #28 "Ember.Handlebars.helper is deprecated"
As title, it should be updated to Ember.Helper.helper

[2015-08-26 01:38] robguilfoyle opened #29 "Data with JSON type doesn't update with binding."
[code]

`this.get('data')` doesn't always have a columns property when the data is loaded in from JSON. Are JSON data types not supported by the components?

[2015-09-05 07:45] #10 closed

[2015-09-05 08:22] Glavin001 commented on #19
I think the main problem would be asynchronous nature of Ember models and relationships.

Could you provide some examples I could work with?

[2015-09-05 08:23] Glavin001 commented on #18
The requirements would be the same as both [Ember-CLI](http://www.ember-cli.com/) and [C3](http://c3js.org/).

[2015-09-05 08:23] #18 closed

[2015-09-05 08:32] #29 closed

[2015-09-05 08:43] Glavin001 commented on #14
Published ember-c3 v0.1.0 to npm

[2015-09-05 08:43] #14 closed

[2015-09-05 08:44] Glavin001 commented on #28
I do not see any code references to `Ember.Handlebars.helper`: https://github.com/Glavin001/ember-c3/search?q=helper&type=Code&utf8=%E2%9C%93 . It was likely removed with #14.

[2015-09-05 08:44] #28 closed

[2015-09-05 08:45] Glavin001 commented on #9
We should add checks on the `data` to determine how it is handled. An empty value for `data` should fail silently, instead of crashing your Ember app or requiring the `if` helper as @bkCDL suggested.
I'll look into this.

[2015-09-05 09:57] Glavin001 opened #30 "Calling notifyPropertyChange on controller does not trigger update of json data in component"
- `notifyPropertyChange` does not propagate from controller to component: https://github.com/emberjs/ember.js/issues/10661
- EmberJS notifyPropertyChange not making it to observer?: ~~http://stackoverflow.com/a/25523850/2578205~~ http://stackoverflow.com/a/32411730/2578205

[2015-09-05 11:09] #30 closed

[2015-09-09 07:19] frankwong15 opened #31 "Point is missing on v0.2.0"
After updating to latest version, the component no longer accept point property

[2015-09-10 01:08] Glavin001 commented on #31
Sorry about that, I think I accidently removed it. I'll try and add it back in.

[2015-09-10 15:13] #31 closed

[2015-09-10 15:14] Glavin001 commented on #31
Published to v0.2.1

[2015-09-10 15:20] Glavin001 opened #32 "Add screenshots of demos to README"

[2015-09-10 15:30] Glavin001 commented on #32
### Combination
![image](https://cloud.githubusercontent.com/assets/1885333/9792404/4e750a06-57b6-11e5-96c1-8a6cabdef4ac.png)

### Gauge
![ember-c3-gauge-2](https://cloud.githubusercontent.com/assets/1885333/9792503/c7ebc05a-57b6-11e5-8d43-116e9dd7c368.gif)

### Timeseries
![ember-c3-timeseries-4](https://cloud.githubusercontent.com/assets/1885333/9792600/6032061c-57b7-11e5-9a2c-80e680d274a5.gif)

[2015-09-10 15:43] #32 closed

[2015-09-22 00:55] Glavin001 opened #34 "Diff previous data with new data for detecting unloading of columns"

[2015-10-15 20:27] temecom opened #37 "Chart events not exposed - Feature request"
As a C3 user/developer it would be nice to have the chart actions linked to the ember action chain. This would provide interaction with other components on the view eg:

A group selection on the chart could trigger a refresh of a table showing the data details.

This would involve catching the 'once' method callback in D3 and emitting it as an Ember action.

Thanks

Chris (expatriate Canadian in S

[2015-10-15 22:03] Glavin001 commented on #37
Absolutely agree. This is planned. For whatever reason I neglected to create an Issue. Thank you!

[2015-10-15 22:03] Glavin001 commented on #37
I would love to receive a Pull Request adding this functionality :smile:.

[2015-10-16 16:12] temecom commented on #37
I will give it a shot.

I looked for the D3 instance but could not find it. Where is it buried?

Chris

On 10/15/2015 03:03 PM, Glavin Wiechert wrote:

[2015-10-16 17:24] Glavin001 commented on #37
I think the applicable code would be https://github.com/Glavin001/ember-c3/blob/master/addon/components/c3-chart.js#L118-L120

[2015-11-03 16:27] bfcoder commented on #34
I ran into this problem.

I dealt with this by changing line 205
[code]

to this

[code]

The however does require you pass in a column designated as the x. And if you are passing in many columns and have not defined what the x will be, this would fall apart. In my case I have several columns and one of them is designated as an x. If you don't supply an x column, then a diff on each column might b

[2015-11-03 16:33] Glavin001 commented on #34
Thanks for sharing! I definitely want to support automatically unloading removed columns. When I am back working on this project, I will take a look at your approach and see if we can come up with something that works for everyone.

[2015-12-07 21:24] AO16 opened #41 "Tag new version v0.1.6"
Would you mind updating the tag on this project?

We need the action hooks in our project. It would be greatly appreciated.

Thanks for the work, this is a great addon.

[2015-12-07 21:42] Glavin001 commented on #41
I'll do that now. Thanks for reminder and your patience.

[2015-12-07 21:43] AO16 commented on #41
:+1: Thanks a bunch!

[2015-12-07 21:54] Glavin001 commented on #41
So I think using the GitHub [releases](https://github.com/Glavin001/ember-c3/releases) tags has been deprecated in favour of distributing over `npm`. I just published the latest to npm.

[2015-12-07 22:05] Glavin001 commented on #37
How about this for expected usage:

[code]

And your Controller or Route would have an action named `chartCreated` that could save the chart instance passed to itself to be used later.

[code]

This would also work without any internal changes to Ember-C3:

[code]

Where `(mut chart)` would generate a function that access the chart instance and would set the property `chart` on the controller.

[2015-12-14 17:39] ptmoy2 opened #42 "very slow rendering"
I'm using this addon to draw a timeseries chart consisting of 4 graphs (360 points each).  The 360 y-values of each of the 4 graphs are computed based on other user input properties.   The 4 graphs  are independent of each other (e.g., a certain input-property change may cause only y-values of one of the graphs to change).  In ember, I created 5 computed properties, one for the y-values of each gr

[2015-12-15 04:04] Glavin001 commented on #42
I think #34 might help with improving speed by only unloading and [loading](https://github.com/Glavin001/ember-c3/blob/master/addon/components/c3-chart.js#L205) the changes.

#37 may also be useful for having raw access to the chart.

Unfortunately, both of which are not yet implemented.

---

However, I think that maybe C3 itself may be the problem. Looking at http://c3js.org/samples/data_load.ht

[2016-01-29 20:20] brayancastrop opened #45 "How to set chart settings?"
I have been looking through ember-c3 options but i have not found how to make use of c3 chart settings, for example
http://c3js.org/reference.html#oninit
http://c3js.org/reference.html#padding-left
and basically any option from the chart section, is there any way to make use of these options?

[2016-02-29 02:21] #41 closed

[2016-03-18 16:10] psteininger commented on #9
@Glavin001 I can confirm that this is an issue. It stops google map from rendering.

[2016-03-18 16:14] Glavin001 commented on #9
@psteininger the temporary workaround I recommend would be https://github.com/Glavin001/ember-c3/issues/9#issuecomment-71663189
If anyone submits a pull request fixing this issue I will gladly review and merge. Thank you!

[2016-03-18 16:20] psteininger commented on #9
@Glavin001 the workaround doesn't work in my case. My data sits in `controller.chart.data` so things don't get messy (I got a config for maps and other stuff there). The issue is happening much earlier. A check for invalid data should happen inside `chart` computed property. I will try and fix it and do a PR if I manage.

[2016-03-18 17:59] psteininger commented on #9
this is more of a note-to-self: in https://github.com/Glavin001/ember-c3/blob/master/addon/components/c3-chart.js#L118

I think the cleanest thing to do is wrap things in a try-catch block and re-org things a bit. The reason for it is that C3 already does comprehensive validation, and throws an exception when things aren't kosher. There is no point in doing this twice. we could miss something and

[2016-03-18 19:06] psteininger commented on #9
@Glavin001 looks like I will have to tackle this next week. I found another issue - using a nested property just isn't supported now. I would like to add that in as well. I think we should be able to pass a config object, which would be merged with defaults in the components and set up observer on the data attribute of config object.

I won't have time to finish this weekend, but I should be able

[2016-03-19 01:50] andrewmtoy opened #46 "dataDidChange fires twice"
Hey @Glavin001, thanks for creating this library!

I noticed today that the dataDidChange method fires twice after initial render for all subsequent data attribute changes.  It looks like you're registering the observer a second time in the didInsertElement method.

This has caused rendering issues with the C3 library because chart.load is invoked twice in quick succession.

What is the use case f

[2016-03-19 03:10] Glavin001 commented on #46
Hi @andrewmtoy. Thanks for creating this issue. In your demo that reproduces the bug, have you tried and confirmed that #44 fixes this issue? If so, I will merge immediately.

There have likely been a lot of changes to Ember since this package was created. I think removing `didInsertElement` and update how things work internally makes sense. I would be happy to review and merge a Pull Request for

[2016-03-19 18:39] andrewmtoy commented on #46
#44 does not fix the duplicate observer being instantiated, but it does fix the C3 rendering issue I was seeing.  I'll take some time this week and send over a pull request with the changes I mentioned.

[2016-03-25 08:56] danielspaniel opened #49 "Uncaught TypeError: Cannot read property 'getItem' of undefined"
Hi there,
  We are happily using c3 for our charting fun times, but every time we click on a bar chart we get that error. Unfortunately the c3 js is minified so we can't see why.
  This happens in our charts ( bar and line )  and also in your demo charts ( bar and line ) as well, but you don't do anything on click ( just hover ) .. whereas we are trying to do something on click .. but this error i

[2016-03-25 15:43] Glavin001 commented on #49
You could change this file in Ember-C3: https://github.com/Glavin001/ember-c3/blob/master/index.js#L9-L11
Such that it does not use the minified version and instead uses the raw source code for C3 library. Then you could debug C3 on your own.
I hope that helps!

[2016-03-25 15:47] danielspaniel commented on #49
duh .. should have thought of that .. thanks.

[2016-04-05 16:54] benoror opened #51 "Data binding for params other than `data`"
Hi @Glavin001, kudos for such a great addon :smile:

I have a use case where I need data binding for the donut chart **title**:

<img width="295" alt="screen shot 2016-04-05 at 11 48 14" src="https://cloud.githubusercontent.com/assets/119117/14290364/651dd636-fb24-11e5-8a68-b9f771f782a2.png">

 similarly to the Gauge's example:

<img width="298" alt="screen shot 2016-04-05 at 11 49 21" src="https:

[2016-04-05 18:25] Glavin001 commented on #51
As you noted, currently only changes to `data` update the chart.
This functionality could be improved.

When the component is initialized it creates a `chart` and passes the configuration from `_config` property to `generate` it: https://github.com/Glavin001/ember-c3/blob/master/addon/components/c3-chart.js#L118-L119

I am unfamiliar with a C3 API method that would allow you to load a changed `don

[2016-04-11 18:52] jsvg commented on #46
@andrewmtoy any update on this?

[2016-04-12 07:05] andrewmtoy commented on #46
@jsvg, I'm going to take a shot at this tomorrow.

[2016-04-13 00:10] andrewmtoy commented on #46
Hey @jsvg, @Glavin001.  I took a look at using the new component lifecycle hooks in this addon.  Here is my first attempt.  https://github.com/andrewmtoy/ember-c3/tree/use-new-component-lifecycle-hooks

Let me know what you think.  If you guys like it, I'll add tests and open a pr.

[2016-04-13 23:54] jsvg commented on #46
This seems to solve my case for the time being!

[2016-04-14 06:03] andrewmtoy commented on #46
@Glavin001, if you're cool with [this](https://github.com/andrewmtoy/ember-c3/tree/use-new-component-lifecycle-hooks), I'll add tests and open a pr.

[2016-04-16 00:51] jsvg commented on #46
Actually @andrewmtoy, in my case I'm modifying chart parameters (axis, groupby, etc) with user input options. Updating these options requires different computed properties on the controller to update. Since these cps are dependent on different promises, which resolve at different times, the graph still renders before all the data is available so I still need the debouncer to provide a semblance of

[2016-04-16 01:30] Glavin001 commented on #46
@jsvg your rewrite looks great! Very concise. I think a fresh start would be good, since there have been many changes, to Ember.js and with the availability of ES6, since Ember-C3 was first created.

I think the only thing I see that is missing is the Component's `sendAction` events: https://github.com/Glavin001/ember-c3/blob/master/addon/components/c3-chart.js#L173-L188

[code]

@andrewmtoy & @js

[2016-04-16 20:59] jsvg commented on #51
I'm working on a PR that should allow for this. Problem with updating pies/donuts is that data loaded into the chart object is appended. However, you should be able to specify whether you'd like the current data to be [unloaded](http://c3js.org/reference.html#api-unload) before the new data is loaded in.

[2016-06-03 08:59] jcano opened #53 "Axis not showing when LiquidFire is active"
The main container of the app is loaded in a `{{ liquid-outlet }}` and I have a view which loads a C3 chart using ember-c3. The chart doesn't show the axis on load, but after clicking on one of the items on the legend the axis appear.

![20160602-130824_capture](https://cloud.githubusercontent.com/assets/592884/15773107/0fd4b268-296d-11e6-8115-2390b3721283.gif)

If I replace `{{ liquid-outlet }}`

[2016-07-09 06:28] lcpriest opened #54 "Removing a data-set from time-series graph."
When working with a single graph with dynamic content - how do you remove an existing line?

I'm working with a time-series graph with day intervals on the x axis. Over that period, you might be interested in a,b or c, but you won't necessarily want them on the graph at the same time.

If I update the 'data' object passed into the c3-chart, it is only an additive procedure - is there a method to r

[2016-07-09 06:33] lcpriest commented on #54
Sorry, this is a dupe of https://github.com/Glavin001/ember-c3/issues/34

[2016-07-09 06:33] #54 closed

[2016-07-26 09:37] ngouy opened #56 "interaction parameter"
It's not possible to use the `interaction` parameter. (cf http://c3js.org/reference.html#interaction-enabled)

Is it a choice or it just need to be implement ?

Regards

[2016-08-18 11:46] jameshoward opened #57 "Version 0.3.0 not in NPM"
`package.json` is updated but maybe missing an `npm publish`?

[2016-08-23 19:57] Glavin001 commented on #57
I think `package.json` shows `0.2.3`: https://github.com/Glavin001/ember-c3/blob/master/package.json#L3

[2016-08-23 19:57] #57 closed

[2016-09-01 14:54] AO16 opened #58 "Publish new release"
Would you mind publishing a new release on bower, would be nice to have the `willDestroyElement` hook setup. Thanks for the addon!

[2016-09-01 15:22] AO16 commented on #58
We should put #59 in the release first though as it is currently broken.

[2016-09-10 02:05] Glavin001 commented on #58
Looking into this right now. 😃

[2016-09-10 02:56] Glavin001 commented on #58
Published npm release v0.3.0: https://www.npmjs.com/package/ember-c3

[2016-09-10 02:58] Glavin001 commented on #58
And I've added a GitHub release v0.3.0 so Bower should also work: https://github.com/Glavin001/ember-c3/releases/tag/v0.3.0

[2016-09-10 02:58] #58 closed

[2016-09-12 12:52] AO16 commented on #58
Thank you for taking the time to get this stuff merged in! If you need any help with this project now that you are off of ember, just let me know. I'd be happy to help you out when I have some time. Thanks again.

[2016-09-12 13:33] Glavin001 commented on #58
I've added you as a collaborator 😃 . Thank you for contributing and your support!

[2016-09-30 15:12] acarpe13 opened #61 "Failed installation"
Hello,

When I execute the command 'ember install ember-c3' I get the following error and the installation fails.

[2016-10-17 01:11] janyk opened #62 "Unable to update axis labels"
Hey, i've been struggling to update the axis labels of my chart.
I did notice that there is no observer for the axis labels, is this currently not possible?
Or am I just missing something entirely here?

[2016-10-17 20:33] janyk commented on #62
realised this is addressed in: https://github.com/Glavin001/ember-c3/issues/51

[2016-10-17 20:33] #62 closed

[2016-10-17 20:34] janyk commented on #51
@jsvg any luck with that PR regarding this issue?

[2016-10-18 00:52] AO16 commented on #51
I believe this is covered in #51

[2016-10-18 00:54] AO16 commented on #51
Sorry, #52

[2016-12-21 00:14] astephensen opened #65 "Could not find module `c3`"
Hello!

I'm currently having an issue while trying to upgrade from 0.2.3 to 0.3.1 where the c3 module cannot be found.

![image](https://cloud.githubusercontent.com/assets/1442307/21372632/2c259ea6-c764-11e6-88ed-fa67668f20d4.png)

I have also reproduced this in a new Ember 2.10.1 project. Removing `import c3 from 'c3';` from the addon stops the error from occurring and the charts start working. I

[2017-01-04 02:20] BryanCrotaz commented on #65
Seeing the same problem in 2.10

[2017-01-04 02:23] AO16 commented on #65
You need to install ember-c3-shim. We should probably throw some type of warning if it isn't installed.

[2017-01-04 02:26] BryanCrotaz commented on #65
can it not be a dependency of this addon?

[2017-01-04 02:27] AO16 commented on #65
It is a dependency, it doesn't get installed though when you're updating. Is there a way to get it to install on update?

[2017-01-04 03:18] astephensen commented on #65
I get the error when installing it into a blank project, not just updating. This is using ember-cli 2.10.0 (ember 2.10.2), nodejs 6.9.1, npm 3.10.8.

Here's the steps I used (in a new folder).
[code]

Installing `ember-c3-shim` afterwards shows a conflict, naively selecting option 3 seems to work.

[code]

The import error no longer appears and the chart works after providing some data. Maybe ther

[2017-01-05 16:46] neaket360pi opened #66 "Docs are not working. The domain blog.glavin.org is not working."
When visiting http://blog.glavin.org/ember-c3/ I get a parked domain page by [zoneedit.com](https://support.zoneedit.com/index.php?/Knowledgebase/Article/View/33/4/why-am-i-seeing-a-parked-landing-page-on-a-zoneedit-domain)

It would be great to get the docs working again.  Maybe  http://glavin001.github.io/ember-c3/ could be updated to not redirect to blog.glavin.org.

[2017-01-06 01:26] Glavin001 commented on #66
It is working for me:

![image](https://cloud.githubusercontent.com/assets/1885333/21704108/3e78a514-d38d-11e6-8492-bcddfa3c9915.png)

I would also like GitHub to stop redirecting to blog.glavin.org for these projects such as ember-c3, however it appears by setting up the CNAME for my blog on GitHub it automatically routes all of my other projects, too: https://github.com/Glavin001/Glavin001.githu

[2017-01-06 22:42] neaket360pi commented on #66
Thanks for checking.   I had the docs working for me as well.  However after a few refreshes I see the zoneedit page again.

![image](https://cloud.githubusercontent.com/assets/4418194/21735155/9ea8dc12-d435-11e6-9a30-c9682d7c79ee.png)

I am not sure how you can have different CNAMES for your blog and other sites.  I think you could rename the project `Glavin001.github.io` to `blog` and use `glavi

[2017-01-12 14:48] JustInToCoding commented on #66
Same here, only seeing the zoneedit page

[2017-01-13 22:39] Saltallica opened #67 "How to get underlying chart?"
Wrapping this in a component and we need access to the underlying chart to do manipulation. this.get('chart') or this.get('c3chart') returns as undefined. Digging in to the code, I can't tell where the underlying c3 chart object is exposed as a property. Am I crazy?

[2017-01-21 18:21] Glavin001 commented on #67
I just see https://github.com/Glavin001/ember-c3/blob/master/addon/components/c3-chart.js#L71

Maybe @AO16 has some ideas.

Feel free to submit a Pull Request @Saltallica if you can get it working with a change.

[2017-03-19 18:36] allthesignals commented on #66
Anyone able to get the docs to work? I can help, just not sure what the issue is.

[2017-03-20 15:51] Glavin001 commented on #66
Investigating the DNS issues now. Thank you all for your patience.

[2017-03-20 15:57] Glavin001 commented on #66
Please try again. It looks to be fixed and working now.

[2017-03-20 15:57] #66 closed

[2017-04-04 20:30] jamiechong commented on #65
Verifying that I had the same experience as @astephensen

[2017-06-01 21:17] benoror opened #68 "Fastboot support"
When trying to use ember-c3 along Fastboot I get the following runtime error:

[code]

AFAIK the reason is that bower (requireJS) dependencies are deprecated.

Maybe is just a matter of using a shim like [ember-d3](https://github.com/ivanvanderbyl/ember-d3) or [ember-c3-shim](https://github.com/mike-north/ember-c3-shim) ?

[2017-08-09 00:32] allthesignals commented on #67
I think it's generating first, which triggers those events (onrendered), then the component sets the property of c3chart. So it'll always be undefined because at the time of execution, c3chart is unset.

It should generate something blank first probably, then set the instance of it, then load the events along with the other config... but I'm not sure that would work with c3. It may also need to be

[2017-08-09 00:42] allthesignals commented on #67
http://c3js.org/reference.html#api-flush flush may be relevant here, though awkward because it forces it to redraw, which triggers the events again.

[2017-08-23 09:18] michaelparamon commented on #56
is there any update about this?

[2017-08-24 08:13] frcake opened #70 "Change chart style"
Hey there , great package this one.

I've set it up and it's playing nicely , but i can't change the chart style , for instance make the dots disappear and such.

While everything renders nicely , colors and spcific types and such , the options given outside the data :{},... are not rendered :( any ideas ?

I even tried it with your example controllers, still nothing!

Thanks tons!

here's my cont

[2017-08-24 08:26] frcake commented on #70
Actually i just fixed it , What i did was to create a component called c3-chart.js (as there's one in the dummy app) and add this line:
`
export { default } from 'ember-c3/components/c3-chart';`

The name of the component should be equal to the {{c3-chart ...}} you are calling in your view.
now the options render correctly.

[2017-08-24 08:26] #70 closed

[2017-09-22 07:07] shortthirdman opened #71 "Uncaught Error: Source data is missing a component at (0,1)! [c3.min.js]"
Cannot debug where is this error coming from.

[2017-09-25 09:47] shortthirdman commented on #71
Had done a silly mistake as I was defining the variable to be an object rather than an array (as the response was an array).
So I am closing this issue. If needed, will reopen it.

[2017-09-25 09:47] #71 closed

[2017-12-18 20:32] caseywatts opened #72 "Let consumers determine d3/c3 version"
Consumers could include the node_module c3/d3 import directly, like this:
https://gist.github.com/caseywatts/347e18e4905c447859fa777ec97c34f8

[2018-04-22 00:46] maxwondercorn opened #74 "State of the project?"
I love this project but see that it hasn't been maintained for a while.  @Glavin001 if you don't have the opportunity to maintain the project, I'd like to create a new project based on this one.  Minimally, I would move it to the latest ember LTS and move from Bower to NPM for the C3 dependency.

[2018-04-24 17:52] maxwondercorn commented on #74
Yes, I figured you were busy elsewhere as happens to us all.  Yes, it would be great to have access here. 👍  I would rather extend what you've created, plus I could start looking the existing PRs

[2018-04-24 21:02] Glavin001 commented on #74
I've added your GitHub username `maxwondercorn` to the list of GitHub collaborators. Please let me know if you need access to anything else. Thank you for your interest and support! 😃

[2018-10-30 11:17] w3o-io opened #76 "Drill down feature for bar, pie, or donut chart"
Is there a way to do drill-down with ember-c3 component?

[2018-10-31 13:51] maxwondercorn commented on #76
Not easily because the C3 chart methods are not exposed for data loading/unloading. I've been working (slowly) at upgrading the add-on.  Exposing the methods and events has been completed in a fork and you can see an example of how to do drill down in the fork [here](https://github.com/maxwondercorn/ember-c3/blob/master/tests/dummy/app/controllers/drilldown.js)

I'm cleaning up the demo applicatio

[2018-10-31 14:44] maxwondercorn commented on #45
You use the component's padding property

[code]

and then in a controller setup the padding

[code]

You will probably need the eslint rule at the top of the controller to eliminate linting errors caused by the object assignment in the controller.

Not sure if you're also asking about the oninit event will be exposed in an upcoming version

[2018-11-01 22:02] maxwondercorn opened #77 "Upgrades are coming"
This issue addresses upcoming changes to ember-c3 and opens a discussion on possible future features.  It will also be used as a tracker.

Most of the items proposed are already in existing PRs or forks. This issue spells out the major changes that are mostly complete, in progress or planned.  Please provide feedback.  Help is welcome

- [x] Merge PRs #64 and #69
- [x] Move C3 from Bower to NPM -

[2018-11-01 22:05] maxwondercorn commented on #76
See issue #77

[2018-11-01 22:06] maxwondercorn commented on #72
See issue #77

[2018-11-01 22:06] maxwondercorn commented on #68
See issue #77

[2018-11-01 22:06] maxwondercorn commented on #67
See issue #77

[2018-11-01 22:07] maxwondercorn commented on #56
See issue #77

[2018-11-01 22:07] maxwondercorn commented on #45
See issue #77

[2018-11-01 22:09] maxwondercorn commented on #37
See issue #77

[2018-11-02 12:53] bravo-kernel commented on #77
This upgrade would be awesome and I will immediately switch back to using ember-c3 inside ember-tabler once it is done 💯

[2018-11-04 22:05] Glavin001 commented on #77
@maxwondercorn let me know what your npm username is so I can give you publish permissions :). 🎉
https://www.npmjs.com/package/ember-c3

[2018-11-04 23:41] maxwondercorn commented on #77
@Glavin001 I think I already have it, but username is gmartell if not

[2018-11-05 04:11] Glavin001 commented on #77
@maxwondercorn: confirmed! You do have access 👍 .

[2018-11-06 05:19] maxwondercorn commented on #76
Added access to to c3 api in pr #79.  See drill down demo after update is published

[2018-11-06 05:19] #76 closed

[2018-11-06 05:29] maxwondercorn commented on #6
pr #79 exposes c3 chart api, so you can dynamically change the chart, load, unload data etc. Updated add-on will be published after checklist in issue #77 are completed

[2018-11-06 05:29] #6 closed

[2018-11-06 05:33] maxwondercorn commented on #37
chart actions/events were available on the component but have been updated with pr #79.  Dummy app has examples using closure actions on chart events.  Update will be published when issue #77 checklist is completed

[2018-11-06 05:36] maxwondercorn commented on #45
oninit has been exposed in pr #79.  Update examples in dummy app show use with closure actions.  Update component will be published when issue #77 has been completed

[2018-11-06 05:36] #45 closed

[2018-11-06 05:38] maxwondercorn commented on #17
Basic integration tests were added in pr #79.  Additional tests can be added in the future

[2018-11-06 05:38] #17 closed

[2018-11-06 05:40] maxwondercorn commented on #72
pr #79 upgraded to the latest c3 and d3 versions.  Going forward we can upgrade as appropriate.  Updated addon wil published when issue #77 checklist is complete

[2018-11-06 05:40] #72 closed

[2018-11-06 06:17] #56 closed

[2018-11-06 06:20] #37 closed

[2018-11-06 06:35] maxwondercorn commented on #77
The two major PRs have been merged and 11 issues have been closed.  If anyone wants to try and/or test the changes you can install directly from GitHub with directions found [here](https://ember-cli.com/extending/#using-a-private-repository).  Rendering test have passed from ember 2.4 through Canary

[2018-11-06 15:51] #49 closed

[2018-11-07 03:16] maxwondercorn commented on #53
I've tested this against the upgraded master batch and this no longer seems to be a problem.  Of course everything is upgraded - ember, liquid-fire and c3 so we can't determine the cause.  See issue #77 to see the work to complete before the new version is released

[2018-11-07 17:55] maxwondercorn commented on #42
This is a very old issue but there are changes coming to ember-c3 as outlined in issue #77.  If you are still using the addon this issue may have been eliminated.

[2018-11-08 03:44] maxwondercorn commented on #77
The internal error logic was refactored out so there is nothing to expose.  The following tasks were removed from the upgrade list.

- Add ability to trigger an action on c3 error - expose internal error function (fork)
- Document using error trigger

[2018-11-10 01:44] maxwondercorn commented on #9
fixed with pr #86.  Will be released with 1.0.0

[2018-11-10 01:45] maxwondercorn commented on #9
See issue #77

[2018-11-10 01:45] #9 closed

[2018-11-10 02:57] maxwondercorn commented on #51
If you only have one donut chart, you can access the title via its class.

[code]

The c3 developers suggest using the classes for some uses or even falling back to d3 functions in some applications.  Sorry I don't have any links to reference.  Can't seem to find what I have read in the past.

[2018-11-10 03:51] maxwondercorn commented on #53
fixed with pr #88

[2018-11-10 03:51] #53 closed

[2018-11-10 03:52] maxwondercorn commented on #68
should be fixed with pr #88

[2018-11-10 03:52] #68 closed

[2018-11-10 03:53] maxwondercorn commented on #42
A 1.0.0 is being released, please open a new issue if not fixed with updates.  pr #88

[2018-11-10 03:53] #42 closed

[2018-11-10 03:55] maxwondercorn commented on #34
with release 1.0.0 you can use the c3.load() and unload() methods through the exposed chart object see the demo project and dummy app.  reference pr #88

[2018-11-10 03:55] #34 closed

[2018-11-10 03:57] maxwondercorn commented on #51
Please see the drill down demo in release 1.0.0.  ref pr #88

[2018-11-10 04:08] maxwondercorn commented on #77
The updated addon has been released as v1.0.0 - will work with ember-cli 2.13 and above

[2018-11-10 19:18] maxwondercorn commented on #19
Please take a look at the `chart events` example in the new addon version. The controller uses computed properties to change the data into a format that c3 can use

[2018-11-12 04:19] #19 closed

[2018-11-16 21:48] maxwondercorn commented on #77
The upgrade issue is being closed.  Open new issues for bugs or future ideas as needed

[2018-11-16 21:48] #77 closed

[2018-11-21 11:49] w3o-io opened #90 "BroccoliMergeTrees: Expected Broccoli node, got undefined for inputNodes[0]"
Hi there,

This error appear - BroccoliMergeTrees: Expected Broccoli node, got undefined for inputNodes[0] after I update the ember-c3 version from 0.3.1 to 1.2.0 and ember build, my ember-cli version is 3.5.0.
Any ideas?

Thank you.

[2018-11-21 15:48] maxwondercorn commented on #90
The error is caused when trying to merge c3.css with an empty vendors directory.  I'm surprised you're the first one to see this issue.  There are a couple ways of fixing this.  I'll get to the fix later today,

[2018-11-21 16:46] maxwondercorn commented on #90
Issue should be resolved with release 1.2.1.  Thanks.

[2018-11-21 16:46] #90 closed

[2019-02-02 05:13] maxwondercorn opened #94 "Angle bracket invocation issues"
There seems to be an issue using ember-c3 with angle bracket invocation in Ember 2.4+ . See issue #https://github.com/emberjs/ember.js/issues/17549

Angle bracket invocation for ember-c3 will be documented after the issue is resolved

[2019-03-06 14:18] scooterlord opened #95 "How can I make use of d3 functions when loading ember-c3?"
Hello and thank you for this plugin.

I am trying to make use of d3.js functionality inside a controller but can't do it and don't want to install ember-d3 to avoid duplications. WIth a previous version of ember-c3 (0.3.1) I could normally use d3 functions inside a controller but now I can't.

Any ideas how to do this?

[2019-03-06 16:37] maxwondercorn commented on #95
I'm not sure how you were using d3 previously.  The previous version was installing ember-d3 and also importing d3, so you could using directly or via ember-d3 imports.

The current version is using ember-auto-import for c3.  I can't test at the moment but I believe C3 is exposed if you re-import it into your app.

[code]

If that's the case, I should be able to import D3 in the addon and then you

[2019-03-07 08:47] scooterlord commented on #95
Thanks for the reply, however, I am talking about importing and using d3 functions and NOT c3 functions.

[2019-03-07 15:18] maxwondercorn commented on #95
Sorry if I wasn’t clear.

Since c3 is available to the application,  if I import d3 the same as c3, d3 would also be available to the application.

 I think I can test this sometime today

[2019-03-08 01:57] maxwondercorn commented on #95
I tested the d3 import today and it works.  You will be able to `import d3 from "d3"` and then use d3 in your application

I'm updating the dummy application and readme. I should be able to push out a release sometime Friday

[2019-03-08 03:00] #95 closed

[2019-03-08 11:28] scooterlord commented on #95
A million thanks :)

[2019-07-01 10:57] scooterlord opened #98 "Update to newest version of c3/d3"
Hello,

I've seen it was an issue in the past, but is there a way to update to the latest d3/c3 libraries?

Even better, would it be able for us to upgrade on our own on-demand?

Thanks for your time!

[2019-07-04 16:36] maxwondercorn commented on #98
I can bump the versions and will try to do it this weekend.  Since the ember-c3 now uses ember-auto-import that might now be possible.

It might be as easy as having the addon install them into the app vs in the addon.  ember-auto-import should be able to pick it up for the addon.

[2019-07-09 11:16] scooterlord commented on #98
Great news! Looking forward to any updates!

[2019-07-11 03:06] maxwondercorn commented on #98
I have updated c3/d3 to the latest versions but still need to publish to NPM. I need to look at the changes required to allow end user updates to c3/d3.  I'm leaving this issue open until that work is completed

[2019-07-28 22:38] maxwondercorn commented on #94
Angle bracket invocation was documented along with the Ember bug that prevents use before Ember 3.8

[2019-07-28 22:38] #94 closed

[2019-11-22 05:07] maxwondercorn commented on #98
@scooterlord I updated the C3/D3 latest versions and Ember 3.12. I looked into installing  C3 & D3 in the application via the blueprint hooks. This would allow maintaining versions in the app versus the addon.

`ember-auto-import` doesn't allow this. It generates an error if the imports are found in the app's `devDependencies`.  I think it should allow whitelisting of packages to allow imports. I

[2019-12-11 11:17] scooterlord commented on #98
@maxwondercorn thanks for the update! Keep up the good work!

[2020-05-10 23:36] BryanCrotaz opened #106 "if gauge.min == gauge.max, you get a NaN in the path data"
Suggest checking for this before passing down to c3 and adding 1 to gauge.max.

[2020-06-11 06:56] muhammadantoun-uleska opened #107 "Some security findings"
Hi Team,

Don’t you just hate it when someone includes your open source project, only to run some scanning tools and come back with issues?  Yea we do too.

So we’ve been running lots of security scans on open source projects, including yours, through some automation we built.  Don’t worry, it took less than a few minutes to run the scans and auto-generate the report.

Wasn’t sure how to send it t

[2020-06-12 11:35] ankitmadhwani24 opened #108 "How to use flush() and destroy()"
How to use flush() and destroy() method in the ember c3 chart?
My chart is not refreshing based on the updated values.

Snippets

`  jsonData: computed('abc', function() {
    return {
      type: 'bar',
      labels: true,
      json: this.get('abc'),
      keys: {
        x: 'x-axis',
        value: ['totalABCs']
      },
  }),`

`this.get('abc') is dynamic values gets updates when new data load

[2020-06-13 04:03] maxwondercorn commented on #108
If you use a `this.set('abc', newData)` to update `abc` the graph should change when the component's attributes are updated.

Since you are using `this.get()` I assume you are still using Ember 2.x so the example below uses older syntax

[code]

[code]

[2020-06-13 05:03] maxwondercorn commented on #106
Internally the properties (data, gauge, bar, etc.) are bassically passed from the component attributes to the C3 generate function so there really isn't an easy way to verify the data.

If there were only a few attributes it'd be pretty easy to put some guard logic in. They're hundreds (or more) of combinations on what attributes can be used and how data can be passed in.

It would be difficult to

[2020-06-13 05:03] #106 closed

[2020-06-23 20:06] #108 closed

[2021-12-28 10:53] amit199309 opened #111 "C3 Chart Re-Render Issue."
C3 chart re-rendering while we switch browser tab reason being original bar color lost. Do we have any mechanism to prevent chart re-rendering either implicitly or explicitly?

[2021-12-30 19:56] maxwondercorn commented on #111
I'm not sure why switching browser tabs would cause color loss/re-render.  Under the hood it's using `didUpdateAttrs` so I'm assuming the component is seeing a data change.

There's no direct way via the component or `c3` but there is a backdoor way to prevent rendering using the `dtitle` attribute.  It's hacky but could possible fix the issue.

The mechanism to change chart titles without refresh

[2022-01-02 10:06] maxwondercorn commented on #51
Really old issue but wanted to show this is now possible by setting the title in the donut argument.

See donut example in the dummy app:

https://github.com/Glavin001/ember-c3/blob/f9dcce109e0efdbfd56d81b06233af12fc9d00b5/tests/dummy/app/controllers/donut.js#L16

[2022-01-02 10:06] #51 closed

[2022-01-10 07:29] amit199309 opened #112 "Chart Bar highlight issue"
Hi Guys,

Earlier we were using "ember-c3": "0.2.3" this version and here when we click on any chart bar item then there is highlight color for active bar to just show this bar clicked, But now we upgraded to "ember-c3": "^3.0.1" this version but there is no color when we click on any bar so here we are not able to represent when bar clicked.

Could anyone suggest how to overcome this issue with "

[2022-02-04 18:39] maxwondercorn commented on #112
@amit199309 Sorry for late response.  0.2.3 is pretty old but generally the current version has the same functionality with added features.

I believe you're asking about enabling C3's data selection property which changes the selected bar color?  Or are you doing something with events?

If you want to enable the selection property you can add it to your data payload.  The snippet below is using c

[2022-06-15 19:29] maxwondercorn opened #114 "onmouseover and onmouseout tests pass inconsistenly"
Tests pass in browser but inconsistently pass or fail when running with ember-try.  Could be an issue with the triggerEvent test-helper not working consistency with  a `<path>` element.

Tests are currently skipped until issues resolved